{% extends "base.html" %}
{% comment %}
 
Main page of django_consultant's website.
 
{% endcomment %}
 
{% block head %}
    <title>US Cashless Vending Machine Service | Portal</title>
{% endblock %}
 
{% block body %}
    <header>
        <h1>US Cashless Vending Machine Service</h1>
    </header>
 
    <section>
        <p>Welcome to the University of Stellenbosch's Cashless Vending Machine Service.</p>
	<p>Please click <a href="/login/">here</a> to log in and get your verification code.</p>
    </section>
{% endblock %}
