{% extends "base.html" %}

{% block head %}
    <title>US Cashless Vending Machine Service | Load Money</title>
{% endblock %}

{% block body %}
    <header>
        <h1>US Cashless Vending Machine Service</h1>
    </header>
    
    <section>
	<p> You are now logged in as <b>{{ user_name }}</b>.</p>
	<p> Your current account balance is <b>R{{ current_balance }}</b>.</p>
	
	% comment %}
 
	<form method="POST" action=""> {% csrf_token %}
	    	<p>Amount to load:</p>
	    	{{ form.amount }}
	    	<p><input type="submit"></p>
	</form>
 
	{% endcomment %}
	
	<p>Please click <a href="/user_admin"> here</a> to go back to your user page, or <a href="/logout">here to log out.</a>
    </section>
	
{% endblock %}