{% extends "base.html" %}

{% block head %}
    <title>US Cashless Vending Machine Service | Load Money</title>
{% endblock %}

{% block body %}
    <header>
        <h1>US Cashless Vending Machine Service</h1>
    </header>
    
    <section>
	<p> Your current account balance is <b>R{{ current_balance }}</b>.</p>
 
	<form method="POST" action=""> {% csrf_token %}
	    <p>Amount to load:</p>
	    	<input name="amount"/>
	    <p><input type="submit"></p>
	</form>
	
	<p>Please click <a href="/user_admin"> here</a> to go back to your user page.</a>
    </section>
	
{% endblock %}